@model MovieViewModel
@{
    ViewData["Title"] = "Movie";
}

<div class="well">
    @Html.Partial("_MovieDetail", new MovieDetailViewModel { MovieSelectDetail = Model.MovieSelect })
</div>

<div>
    @Html.Partial("_Booking", new MovieViewModel { MovieSelect = Model.MovieSelect, FunctionList = Model.FunctionList })
</div>